<script type="text/javascript">
    window.onload = function () {
        alert("Cadastrado com Sucesso!");
    };
</script>

 <br />
<form asp-action="VoltarInicio">
    

    <div class="form-group">
        <input type="submit" value=" Início" class="btn btn-info" />
    </div>
</form>