@model Prodam.Models.ViewModels.FornecedorViewModel
<h3>Cadastrar Novo Fornecedor</h3>

<div class="row">
    <div class="col-md-5 ">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="Fornecedor.EmpresaId" class="control-label"></label>
                <select asp-for="Fornecedor.EmpresaId" asp-items="@(new SelectList(Model.Empresas,"Id","Nome"))" class="form-control"></select>
            </div>

            <hr />


            <div class="form-group">
                <label asp-for="Fornecedor.Nome" class="control-label"></label>
                <input asp-for="Fornecedor.Nome" class="form-control" />
                <span asp-validation-for="Fornecedor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fornecedor.CpfCnpj" class="control-label"></label>
                <input asp-for="Fornecedor.CpfCnpj" class="form-control" />
                <span asp-validation-for="Fornecedor.CpfCnpj" class="text-danger"></span>
            </div>
            <hr />

            


            <div class="form-group">
                <label asp-for="Fornecedor.TipoPessoa" class="control-label"></label>


                <div>
                    @Html.RadioButtonFor(m => Model.Fornecedor.TipoPessoa, true) Sim

                </div>
                <div>
                    @Html.RadioButtonFor(m => Model.Fornecedor.TipoPessoa, false) Não
                </div>
            </div>
            <hr />
            <div class="form-group">

                <input type="submit" value="Continuar" class="btn btn-success" />
            </div>
        </form>

    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

